.menu {
    margin-top: 20px;
    display: flex;
    max-width: 100%;
    align-items: center;
    padding: 0px 200px;
}

.menu__list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__link {
    list-style-type: none;
}

.menu__btn {
    background-color: #60919A;
    width: 150px;
    height: 25px;
    border: none;
    font-size: 14px;
    margin: 0 0 0 50px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    color: #051E22;
    cursor: pointer;
    text-decoration: none;
}
.menu__btn_dark {
    background-color: #051E22;
    color: #60919A;
}