.aboute {
    margin-top:70px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    padding: 0px 200px;
}

.aboute__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    text-align: left;
}

.aboute__subtitle {
    margin-top: 70px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: left;
}

.aboute__btns {
    display: flex;
    margin-top: 40px;
}

.aboute__btn{
    display: flex;
    align-items: center;
    margin: 0 60px 0 0;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
    position: relative;
    display: inline-block;
    outline: none;
    height: auto;
    width: 250px;
}

.aboute__circle {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #55201A;
    border-radius: 1.625rem;
    cursor: pointer;
    transition : all 0.45s cubic-bezier(0.65,0,.076,1);
}
.aboute__circle:after {
    position: absolute;
    top: 14px;
    left: 14px;
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(45deg);
}

.aboute__btn-text {
    padding: 12px 0;
    margin: 0 0 0 60px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #55201A;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.45s cubic-bezier(0.65,0,.076,1);
    text-align: left;
}

.aboute__btn:hover .aboute__circle{
    width: 100%;
}

.aboute__btn:hover .aboute__btn-text{
    color: #f0f0f0;
}

@media screen and (max-width: 1180px) {
    .aboute {
        padding: 0 100px;
    }

    .aboute__title {
        font-size: 35px;
    }

    .aboute__subtitle {
        font-size: 22px;
    }
}

@media screen and (max-width: 860px){ 
    .aboute {
        padding: 0 40px;
    }

    .aboute__title {
        font-size: 30px;
    }

    .aboute__subtitle {
        font-size: 20px;
    }

}

@media screen and (max-width: 706px){ 
    .aboute {
        padding: 0 20px;
    }
    .aboute__title {
        font-size: 28px;
        text-align: center;
    }

    .aboute__subtitle {
        margin-top: 50px;
        font-size: 16px;
        text-align: center;
    }

    .aboute__link {
        width: 238px;
    }

    .aboute__btns {
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }

    .aboute__btn {
        margin-top: 20px;
        width: 238px;
    }
}