.header {
    position: relative;
    display: flex;
    max-width: 100%;
    align-items: center;
    padding: 0px 200px;
    background-color: #AA6F69;
    z-index: 2;
    border-bottom: 3px solid #60919A;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__info-web {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__btn { 
    background-color: #8EA767;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    margin: 0 0 0 30px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: transform .2s;
}

.header__btn:hover {
    background-color: #fff;
    color: #8EA767;
}

.header__num {
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    color: #fff;
    text-decoration: none;
}

.header__icon {
    margin: 0 10px;
    width: 30px;
    height: 30px;
    transition: transform .2s;
}

.header__icon:hover {
    transform: scale(1.3);
}

.header__link {
    cursor: pointer;
}

.header__logo {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.header__text {
    margin: 0 0 0 10px ;
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    color: #fff;
}

.header__info-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__link-color {
    font-size: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    color: #900cb8;
    transition: border-bottom .2s;
    text-decoration: none;
}

.header__link-color:hover {
    border-bottom: 1px solid #900cb8;
}

@media screen and (max-width: 1180px) {
    .header {
        padding: 0 100px;
    }
}

@media screen and (max-width: 860px){ 
    .header {
        padding: 0 40px;
    }
}

@media screen and (max-width: 706px){ 
    .header {
        padding: 0 20px;
    }

    .header__info {
        flex-direction: column;
    }

    .header__logo {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }

    .header__info-web {
        margin: 10px 0;
        flex-direction: column;
    }
    
    .header__info-box {
        margin-bottom: 10px;
    }
}

